streamlit
numpy
pandas
plotly
scipy
scikit-image
scikit-learn
shapely
ezdxf
matplotlib
alphashape
requests
matplotlib-scalebar
reportlab
Pillow
PyPDF2
python-docx
sentence-transformers
faiss-cpu
xgboost
