streamlit
ezdxf
shapely
numpy
matplotlib
pandas
openpyxl
requests
pyproj
alphashape
rasterio
plotly
matplotlib-scalebar
scikit-image
scipy
scikit-learn
xgboost
Pillow
PyPDF2
python-docx
reportlab
PyMuPDF
sentence-transformers
faiss-cpu
